# Put this file into /etc/udev/rules.d and unplug and re-plug your device.
# You don't need to restart Udev, new permissions will be picked up automatically.

KERNEL=="hidraw*", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2111", MODE="0666"

